/* L1 */
.L1_page2_0624 { padding-bottom:81px; background: #f8f8f8;}
.L1_page2_0624_table td { border: 1px solid #382010; text-align: center; color:#5f553a; font-size:16px; font-weight: bold;}
.L1_page2_0624_table td.f22 { font-size:19px;}
.L1_page2_0624_wh1 { width: 368px; }
.L1_page2_0624_wh2 { width: 291px; }
.L1_page2_0624_wh3 { width: 538px; }
.L1_page2_0624_he1 { height:52px; }
.L1_page2_0624_he2 { height:88px; }
.L1_page2_0624_bg1 td { background: #ffdb46; }
.L1_page2_0624_bg2 td { background: #fcf8ed; }

/* L2 */
.L2_page2_0624 { padding-bottom:81px; background: #f8f8f8;}
.L2_page2_0624_table td { border: 1px solid #382010; text-align: center; color:#5f553a; font-size:16px; font-weight: bold;}
.L2_page2_0624_table td.L2_page2_0624_table_td1 { border-right: none;font-size: 22px;}
.L2_page2_0624_table td.L2_page2_0624_table_td2 { border-right: none;border-left: none;font-size: 22px;}
.L2_page2_0624_table td.L2_page2_0624_table_td3 { border-left: none;font-size: 22px;}
.L2_page2_0624_table td.f22 { font-size:21px;}
.L2_page2_0624_wh1 { width: 368px; }
.L2_page2_0624_wh2 { width: 404px; }
.L2_page2_0624_wh3 { width: 424px; }
.L2_page2_0624_he1 { height:73px; }
.L2_page2_0624_he2 { height:50px; }
.L2_page2_0624_bg1 td { background: #ffdb46; }
.L2_page2_0624_bg2 td { background: #fcf8ed; }
.L2_page2_0624_bg3 td { background: #fef4c8; }








