doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    // meta name="viewport" content="width=device-width, initial-scale=1"
    title GoGoTalk青少外教在线英语_课程体系
    meta(content='GoGoTalk,青少英语,GoGoTalk青少英语,笨鸟盛世,教育资源,在线学习', name='keywords')
    meta(content='GoGoTalk是笨鸟盛世（北京）科技有限公司旗下的在线青少外教英语品牌。作为互联网英语教育的领跑者，GoGoTalk采用“外教互动式在线学习”模式，让中国孩子足不出户汲取全球优秀教育资源，与世界共同成长。从语言艺术、全球视野、自信沟通和文化探索四个维度全面学习，引领孩子跨越地域屏障，与世界自信沟通，自由表达。', name='description')
    link(rel='stylesheet', type='text/css', href='../styles/base_0425.css')
    link(rel='stylesheet', type='text/css', href='../styles/course.css')
    script(src='../js/jquery-1.7.2.min.js')
    script(src='../js/course.js')
    script(src='../js/smy_0426_tijiao.js', charset='gbk')
  body
    include header
    // banner start
    .banner_0512
      .new_warpper_0508.rel_banner_0512
        .banner_title_0512 GoGoTalk外教课程体系
        .banner_xian_0512
        .banner_div_0512.banner_div1_0512 GoGoTalk突破传统的英语知识教学，回
        .banner_div_0512.banner_div2_0512 归语言的沟通本质。利用互联网的强大技
        .banner_div_0512.banner_div3_0512 术与便利性，让孩子随时随地与全球各地
        .banner_div_0512.banner_div4_0512 的优秀外教实时互动，在接近母语的环境
        .banner_div_0512.banner_div5_0512 中全面提升英语能力，与世界自信沟通。 
        .btu_0426.yuanjiao.yuyuebtu.yuyueshiting_btu_js 预约试听
    // banner end
    // page7 start
    .new_warpper_0508.page7_0426
      .common_title_0512
        .common_title_h2_0512 零基础到语言天才细分为11级
        .common_title_xian1_0512
        .common_title_p_0512 从零基础培养纯正语感到纯西方英语环境中无障碍交流，GoGoTalk将课程细分为11个等级，
        .common_title_p_0512 按照孩子目前水平进行一对一VIP授课，让孩子在接近母语的环境中全面提升英语能力。
      .page4_rel
        .page4_table
          table.table_0621
            tr
              td.white_0621.width_0621_1.height_0621_1(colspan='8')
              td.red_0621.width_0621_2.height_0621_1.img1_0623(colspan='4')
                p GoGoTalk初级写作
                p Initial Writing
                img.img1_0621(src='../scroll/images/biaotou4_1.png')
            tr
              td.white_0621.width_0621_3.height_0621_2(colspan='6')
              td.yellow_0621.width_0621_4.height_0621_2.img2_0623(colspan='2')
                p 新概念1
              td.red_0621.width_0621_5.height_0621_2.img2_0623
                p 新概念1
              td.red_0621.width_0621_6.height_0621_2.img2_0623(colspan='3')
                p 新概念2
                img.img2_0621(src='../scroll/images/biaotou3_1.png')
            tr
              td.white_0621.width_0621_7.height_0621_3(colspan='3')
              td.blue_0621.width_0621_8.height_0621_3.img3_0623
                p.f16_0621 L3
                p 三一口语
              td.blue_0621.width_0621_8.height_0621_3.img3_0623
                p.f16_0621 L4
                p 三一口语
              td.yellow_0621.width_0621_8.height_0621_3.img3_0623
                p.f16_0621 L5
                p 三一口语
              td.yellow_0621.width_0621_8.height_0621_3.img3_0623
                p.f16_0621 L6
                p 三一口语
              td.yellow_0621.width_0621_8.height_0621_3.img3_0623
                p.f16_0621 L7
                p 三一口语
              td.red_0621.width_0621_5.height_0621_3.img3_0623
                p.f16_0621 L8
                p 三一口语
              td.red_0621.width_0621_5.height_0621_3.img3_0623
                p.f16_0621 L9
                p 三一口语
              td.red_0621.width_0621_9.height_0621_3.img3_0623(colspan='2')
                p -
                img.img3_0621(src='../scroll/images/biaotou2_1.png')
            tr
              td.gray_0621.width_0621_10.height_0621_4.img4_0623
                p GoGoTalk青少口语
                img.img4_0621(src='../scroll/images/biaotou1_1.png')
              td.green_0621.width_0621_11.height_0621_4.tiaozhuang_0623
                .f16_0623
                a(href='index.php-c=course&a=level&level=1.html', target='_blank')
                  p.f16_0621 L1
              td.blue_0621.width_0621_8.height_0621_4.tiaozhuang_0623
                .f16_0623
                a(href='index.php-c=course&a=level&level=2.html', target='_blank')
                  p.f16_0621 L2
              td.blue_0621.width_0621_8.height_0621_4.tiaozhuang_0623
                .f16_0623
                a(href='index.php-c=course&a=level&level=3.html', target='_blank')
                  p.f16_0621 L3
              td.blue_0621.width_0621_8.height_0621_4.tiaozhuang_0623
                .f16_0623
                a(href='index.php-c=course&a=level&level=4.html', target='_blank')
                  p.f16_0621 L4
              td.yellow_0621.width_0621_8.height_0621_4.tiaozhuang_0623
                .f16_0623
                a(href='index.php-c=course&a=level&level=5.html', target='_blank')
                  p.f16_0621 L5
              td.yellow_0621.width_0621_8.height_0621_4.tiaozhuang_0623
                .f16_0623
                a(href='index.php-c=course&a=level&level=6.html', target='_blank')
                  p.f16_0621 L6
              td.yellow_0621.width_0621_8.height_0621_4.tiaozhuang_0623
                .f16_0623
                a(href='index.php-c=course&a=level&level=7.html', target='_blank')
                  p.f16_0621 L7
              td.red_0621.width_0621_5.height_0621_4.tiaozhuang_0623
                .f16_0623
                a(href='index.php-c=course&a=level&level=8.html', target='_blank')
                  p.f16_0621 L8
              td.red_0621.width_0621_5.height_0621_4.tiaozhuang_0623
                .f16_0623
                a(href='index.php-c=course&a=level&level=9.html', target='_blank')
                  p.f16_0621 L9
              td.red_0621.width_0621_12.height_0621_4.tiaozhuang_0623
                .f16_0623
                a(href='index.php-c=course&a=level&level=10.html', target='_blank')
                  p.f16_0621 L10
              td.red_0621.width_0621_12.height_0621_4.tiaozhuang_0623
                .f16_0623
                a(href='index.php-c=course&a=level&level=11.html', target='_blank')
                  p.f16_0621 L11
            tr
              td.gray_0621.width_0621_10.height_0621_5
                p 级别描述
              td.green_0621.width_0621_11.height_0621_5
                p.p_l_0621 帮助孩子通过学习自然发音系统掌握英语单词发音规律。
                p.p_l_0621 培养正确的英语语感，帮孩子获得看单词就能读的能力。
              td.blue_0621.width_0621_8.height_0621_5(colspan='3')
                p.p_l_0621 采用孩子们喜爱的母语式互动教学方法。带领孩子从0开始，建立纯正英语语感。
                p.p_l_0621 培养英语语言直觉，直观感受最地道的英文世界。
              td.yellow_0621.width_0621_8.height_0621_5(colspan='3')
                p.p_l_0621 奠定英语基础后的进阶式学习，让孩子们可以用英文来发现更加广阔的世界。
                p.p_l_0621 培养孩子无障碍交流，顺畅表达自己观点，以英语应用能力突破应试挑战的能力。
              td.red_0621.width_0621_5.height_0621_5(colspan='4')
                p.p_l_0621 以英语视角探索人文，自然和科学，拓宽孩子的国际化视野，让孩子足不出户获得和国际学校一样的学习资源。
                p.p_l_0621 培养孩子即使在纯西方英语环境中也能无障碍交流的能力，为孩子的国际化生活和学习奠定强大实力。
            tr
              td.gray_0621.width_0621_10.height_0621_6
                p 阶段
              td.green_0621.width_0621_11.height_0621_6
                p 零基础
              td.blue_0621.width_0621_8.height_0621_6(colspan='3')
                p 初级
              td.yellow_0621.width_0621_8.height_0621_6(colspan='3')
                p 中级
              td.red_0621.width_0621_5.height_0621_6(colspan='4')
                p 高级
          script.
            $(function(){
            $(".table_0621 tr img").hide();
            $(".img1_0623").hover(function(){
            $(".img1_0621").show();
            },function(){
            $(".table_0621 tr img").hide();
            });
            $(".img2_0623").hover(function(){
            $(".img2_0621").show();
            },function(){
            $(".table_0621 tr img").hide();
            });
            $(".img3_0623").hover(function(){
            $(".img3_0621").show();
            },function(){
            $(".table_0621 tr img").hide();
            });
            $(".img4_0623").hover(function(){
            $(".img4_0621").show();
            },function(){
            $(".table_0621 tr img").hide();
            });
            });
      .btu2_0426.yuanjiao.yuyuebtu.yuyueshiting_btu_js 预约试听
    style(type='text/css', rel='stylesheet').
      .page7_0426{ height:920px;}
      .page4_rel{ position: relative; margin:0 auto; width:1200px;height:550px;}
      .table_0621{ background: #fff; margin-top: 40px; position: relative;}
      .table_0621 td{ border:2px solid #fff;}
      .table_0621 td p{ width:100%;text-align: center; color: #fff; font-size: 14px;}
      .table_0621 td p.p_l_0621{text-align: left; width: 88%; margin: 12px auto;}
      .white_0621{ background: #fff;}
      .red_0621{background: #f54e62;}
      .yellow_0621{background: #f0bb0b;}
      .blue_0621{background: #00cccb;}
      .gray_0621{background: #abaaaa;}
      .green_0621{background: #80d24a;}
      .width_0621_1{ width: 758px;}
      .width_0621_2{ width: 289px;}
      .width_0621_3{ width:909px; }
      .width_0621_4{ width: 172px;}
      .width_0621_5{ width: 79px;}
      .width_0621_6{ width: 208px;}
      .width_0621_7{ width: 474px;}
      .width_0621_8{ width: 85px;}
      .width_0621_9{ width: 128px;}
      .width_0621_10{ width: 199px;}
      .width_0621_11{ width: 186px;}
      .width_0621_12{ width: 63px;}
      .height_0621_1{ height: 74px;}
      .height_0621_2{ height: 64px;}
      .height_0621_3{ height: 66px;}
      .height_0621_4{ height: 61px;}
      .height_0621_5{ height:164px;}
      .height_0621_6{ height:54px;}
      .table_0621 td p.f16_0621{ font-size: 16px;}
      .table_0621 tr img{ display: none;}
      .table_0621 tr .img1_0621{ position: absolute;top:70px; right: 8px; z-index:9999;}
      .table_0621 tr .img2_0621{ position: absolute;top:136px; right: 16px; z-index:9999;}
      .table_0621 tr .img3_0621{ position: absolute;top:204px; right: 111px; z-index:9999;}
      .table_0621 tr .img4_0621{ position: absolute;top:267px; left: 0; z-index:9999;}
      .img1_0623,.img1_0623 p,.img2_0623,.img2_0623 p,.img3_0623,.img3_0623 p,.img4_0623,.img4_0623 p{ cursor:pointer;}
      .f16_0623{width:100%; height:61px; background:rgba(0,0,0,0.16); position:absolute; left:0;top:0; display:none;}
      .tiaozhuang_0623:hover{position:relative;}
      .tiaozhuang_0623:hover .f16_0623{display:block; cursor:pointer;}
      .tiaozhuang_0623:hover,.table_0621 td p.f16_0621{ cursor:pointer;}
      .table_0621 td p.f16_0621{ font-size: 16px; position:relative; z-index:999;}
    // page1 start
    div(style='width: 100%; background: #f8f6f5;')
      .new_warpper_0508.page1_0426
        .common_title_0512
          .common_title_h2_0512 用英语感受世界
          .common_title_xian1_0512
          .common_title_p_0512 采用孩子们喜爱的母语式互动教学法，带领孩子从0开始，建立纯正语感，
          .common_title_p_0512 培养英语语言直觉，直观感受最地道的英文世界。
        table.new_warpper_0508.table1
          tr.table1_th
            td.table1_width1 人群
            td.table1_width2 课程
            td.table1_width3 级别
            td.table1_width5 学习目标
            td 能力类别
          tr.table1_height1
            td.table1_font20(rowspan='7')
              | 小学低年级
              br
              |                 幼儿园
            td.table1_font20(rowspan='7')
              | GoGoTalk
              br
              |                 青少口语
            td 1级
            td.t_l 自然拼读Phonics，通过学习自然发音系统掌握英语单词发音规律，培养正确的英语语感，帮孩子获得看单词就能读的能力。
            td(rowspan='7') 口语
          tr.table1_height2
            td 2级
            td.t_l(rowspan='6') 让孩子从起步就接受母语般的学习环境，抢占5-9岁的最佳外语学习期。既可掌握地道口语能力，同时轻松搞定剑桥等主流少儿英语考试。
          tr.table1_height2
            td 3级
          tr.table1_height2
            td 4级
          tr.table1_height2
            td 5级
          tr.table1_height2
            td 6级
          tr.table1_height2
            td 7级
        .btu2_0426.yuanjiao.yuyuebtu.yuyueshiting_btu_js 预约试听
    // page1 end
    // page2 start
    .page2_0426
      .common_title_0512
        .common_title_h2_0512 用英语发现世界
        .common_title_xian1_0512
        .common_title_p_0512 奠定英语基础后的进阶式学习，让孩子们用英文来发现更加广阔的世界，用英文进行无
        .common_title_p_0512 障碍交流，顺畅表达自己的观点，以英语应用能力突破应试挑战。
      table.new_warpper_0508.table2
        tr.table2_th
          td.table2_width1 人群
          td.table2_width2 课程
          td.table2_width3 级别
          td.table2_width5 学习目标
          td 能力类别
        tr.table2_height2
          td.table2_font20(rowspan='14') 青少
          td.table2_font20(rowspan='4') GoGoTalk青少口语
          td 8级
          td.t_l(rowspan='4') 适合初、高中学员，帮助孩子挣脱应试英语的束缚，重建英语沟通能力，塑造国际视野。
          td(rowspan='4') 口语
        tr.table2_height2
          td 9级
        tr.table2_height2
          td 10级
        tr.table2_height2
          td 11级
        tr.table2_height1
          td.table2_font20(rowspan='2')
            | 新概念
            br
            | New Concept English
          td 1册
          td.t_l(rowspan='2') 适合四年级以上学生，全球最为经典地道的英语教材，主打英语的综合能力。在外教的全新诠释下，快速夯实孩子的听说读写综合能力，应用和应试双管齐下。
          td(rowspan='3') 听说读写综合
        tr.table2_height1
          td 2册
        tr.table2_height3
          td.table2_font20
            | GoGoTalk
            br
            | 初级写作Initial Writing
          td 1
          td.t_l 适合小学高年级以上学员，以英语写作为目标培养孩子英语思维的严谨与逻辑性，让孩子在写作普遍较差的同龄人中先行一步。
        tr.table2_height2
          td.table2_font20(rowspan='7') 三一口语GESE
          td 3级
          td.t_l(rowspan='7') 主流的权威口语考试，适合小学4年级以上学员。外教提供全真语言环境，更快获得理想成绩，轻松拿下升学敲门砖。
          td(rowspan='7') 口语应试
        tr.table2_height2
          td 4级
        tr.table2_height2
          td 5级
        tr.table2_height2
          td 6级
        tr.table2_height2
          td 7级
        tr.table2_height2
          td 8级
        tr.table2_height2
          td 9级
      .btu2_0426.yuanjiao.yuyuebtu.yuyueshiting_btu_js 预约试听
    // page2 end
    // page3 start
    div(style='width: 100%; background: #f8f6f5;padding-bottom: 60px;')
      .new_warpper_0508
        .common_title_0512
          .common_title_h2_0512 用英语探索世界
          .common_title_xian1_0512
          .common_title_p_0512 以英语视角去探索人文，自然和科学，拓宽孩子的国际化视野，足不出户
          .common_title_p_0512 也获得和国际学校一样的学习资源。即使在纯西方英语环境中也
          .common_title_p_0512 能障碍交流，为孩子的国际化生活和学习奠定强大实力。
        table.new_warpper_0508.table3
          tr.table3_th
            td.table3_width1 人群
            td.table3_width2 课程
            td.table3_width3 级别
            td.table3_width5 学习目标
            td 能力类别
          tr.table3_height2
            td.table3_font20(rowspan='8') 中学
            td.table3_font20(rowspan='3') IELTS雅思
            td 1
            td.t_l(rowspan='3') 以英联邦国家为留学目的地，雅思目标分数在5分以上的学员。
            td(rowspan='8') 出国
          tr.table3_height2
            td 2
          tr.table3_height2
            td 3
          tr.table3_height1
            td.table3_font20 TOEFL托福
            td 1
            td.t_l 以北美为留学目的地，托福目标分数在80分以上的学员。
          tr.table3_height2
            td.table3_font20 SAT读写
            td 1
            td.t_l 参加美国高考的学员，快速突击SAT读写难点。
          tr.table3_height3
            td.table3_font20
              | 西方话题
              br
              | Western Outlook
            td 1
            td.t_l 适合英语水平中等偏上的中学生，提前认知西方社会的常见话题，包含人文、自然、历史、政治旅游、教育等。
          tr.table3_height4
            td.table3_font20
              | 交换生教材
              br
              | Exchange Students
            td 1
            td.t_l 去美国的交换生预热课程，适合英语水平较高的高中生。
          tr.table3_height5
            td.table3_font20 Travel旅行口语
            td 1
            td.t_l 旅行前预热课，包含各个旅游常见场景的英语应用，不仅适合孩子，爸爸妈妈亦可一同学习共享旅行乐趣。
        .btu2_0426.yuanjiao.yuyuebtu.yuyueshiting_btu_js 预约试听
    // page3 end
    include footer