doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    // meta name="viewport" content="width=device-width, initial-scale=1"
    title GoGoTalk青少外教在线英语_学习理念
    meta(content='GoGoTalk,青少英语,GoGoTalk青少英语,笨鸟盛世,教育资源,在线学习', name='keywords')
    meta(content='GoGoTalk是笨鸟盛世（北京）科技有限公司旗下的在线青少外教英语品牌。作为互联网英语教育的领跑者，GoGoTalk采用“外教互动式在线学习”模式，让中国孩子足不出户汲取全球优秀教育资源，与世界共同成长。从语言艺术、全球视野、自信沟通和文化探索四个维度全面学习，引领孩子跨越地域屏障，与世界自信沟通，自由表达。', name='description')
    link(rel='stylesheet', type='text/css', href='../styles/base_0425.css')
    link(rel='stylesheet', type='text/css', href='../scroll/css/scroll.css')
    link(rel='stylesheet', href='../scroll/css/jquery.fullPage.css')
    style.
      #fullPage-nav li a, .fullPage-slidesNav li a { width: 24px;height: 24px; }
    link(href='../scroll/css/min.css', rel='stylesheet')
    script(src='../js/jquery-1.7.2.min.js')
    script(src='../scroll/js/scroll.js')
    script(src='../js/smy_0426_tijiao.js', charset='gbk')
  body
    // page1 start
    .section.section1
      .bg
      .new_warpper_scroll.scroll_box
        a.logo_scroll(href='index.html')
          img(src='../scroll/images/logo_white.png')
        .h-group
          .hr
          .hr-60
        a.roll_mouse(href='index.php-c=scroll&a=scroll.html#page2')
    // page1 end
    // page2 start
    .section.section2
      .bg
      .new_warpper_scroll.scroll_box
        a.logo_scroll(href='index.html')
          img(src='scroll/images/logo_blue.png')
        .hr-group1 孩子在英语学习过程中遇到过哪些困难？
        .hr-group2
          .hr-group2_01
          .hr-group2_02
          .hr-group2_03
        a.roll_mouse.roll_mouse2(href='index.php-c=scroll&a=scroll.html#page3')
    // page2 end
    // page3 start
    .section.section3
      .bg
      .new_warpper_scroll.scroll_box
        a.logo_scroll(href='index.html')
          img(src='../scroll/images/logo_white.png')
        .page3_rel
          .title GoGoTalk教学方法
          .smyclearfix.item
            dl.left
              dt.dt1
              dd 纯外教
              dd 让学生像母语一样学习英语
            dl.left
              dt.dt2
              dd 一对一
              dd 老师可以100%关注孩子的学习效果
            dl.left
              dt.dt3
              dd 高频次
              dd 隔天一次，充分、反复的练习
        a.roll_mouse(href='index.php-c=scroll&a=scroll.html#page4')
    // page3 end
    // page4 start
    .section.section4_0526
      .bg
      .new_warpper_scroll.scroll_box
        a.logo_scroll(href='index.html')
          img(src='../scroll/images/logo_blue.png')
        .page4_0526_rel
          .title4_0526 六大教学方法
          .item4_0526_01
          .item4_0526_02
        a.roll_mouse.roll_mouse2(href='index.php-c=scroll&a=scroll.html#page5')
    // page4 end
    // page5 start
    .section.section5_0526
      .bg
      .new_warpper_scroll.scroll_box
        a.logo_scroll(href='index.html')
          img(src='../scroll/images/logo_blue.png')
        .page5_0526_rel
          .title_0526 4-8岁孩子试听课场景展示
          .item_0526
            p.page5_p_0526_p1
            p.page5_p_0526_p2
        a.roll_mouse.roll_mouse2(href='index.php-c=scroll&a=scroll.html#page6')
    // page5 end
    // page6 start
    .section.section6_0526
      .bg
      .new_warpper_scroll.scroll_box
        a.logo_scroll(href='index.html')
          img(src='../scroll/images/logo_blue.png')
        .page6_0526_rel
          .title6_0526 Phonics试听课场景展示
          .item6_0526
        a.roll_mouse(href='index.php-c=scroll&a=scroll.html#page7')
    // page6 end
    // page7 start
    .section.section4
      .bg
      .new_warpper_scroll.scroll_box
        a.logo_scroll(href='index.html')
          img(src='../scroll/images/logo_blue.png')
        .page4_rel
          .title2 GoGoTalk少儿英语课程
          .page4_table
            table.table_0621
              tr
                td.white_0621.width_0621_1.height_0621_1(colspan='8')
                td.red_0621.width_0621_2.height_0621_1.img1_0623(colspan='4')
                  p GoGoTalk初级写作
                  p Initial Writing
                  img.img1_0621(src='../scroll/images/biaotou4_1.png')
              tr
                td.white_0621.width_0621_3.height_0621_2(colspan='6')
                td.yellow_0621.width_0621_4.height_0621_2.img2_0623(colspan='2')
                  p 新概念1
                td.red_0621.width_0621_5.height_0621_2.img2_0623
                  p 新概念1
                td.red_0621.width_0621_6.height_0621_2.img2_0623(colspan='3')
                  p 新概念2
                  img.img2_0621(src='../scroll/images/biaotou3_1.png')
              tr
                td.white_0621.width_0621_7.height_0621_3(colspan='3')
                td.blue_0621.width_0621_8.height_0621_3.img3_0623
                  p.f16_0621 L3
                  p 三一口语
                td.blue_0621.width_0621_8.height_0621_3.img3_0623
                  p.f16_0621 L4
                  p 三一口语
                td.yellow_0621.width_0621_8.height_0621_3.img3_0623
                  p.f16_0621 L5
                  p 三一口语
                td.yellow_0621.width_0621_8.height_0621_3.img3_0623
                  p.f16_0621 L6
                  p 三一口语
                td.yellow_0621.width_0621_8.height_0621_3.img3_0623
                  p.f16_0621 L7
                  p 三一口语
                td.red_0621.width_0621_5.height_0621_3.img3_0623
                  p.f16_0621 L8
                  p 三一口语
                td.red_0621.width_0621_5.height_0621_3.img3_0623
                  p.f16_0621 L9
                  p 三一口语
                td.red_0621.width_0621_9.height_0621_3.img3_0623(colspan='2')
                  p -
                  img.img3_0621(src='../scroll/images/biaotou2_1.png')
              tr
                td.gray_0621.width_0621_10.height_0621_4.img4_0623
                  p GoGoTalk青少口语
                  img.img4_0621(src='../scroll/images/biaotou1_1.png')
                td.green_0621.width_0621_11.height_0621_4.tiaozhuang_0623
                  .f16_0623
                  a(href='courserel/L1.html', target='_blank')
                    p.f16_0621 L1
                td.blue_0621.width_0621_8.height_0621_4.tiaozhuang_0623
                  .f16_0623
                  a(href='courserel/L2.html', target='_blank')
                    p.f16_0621 L2
                td.blue_0621.width_0621_8.height_0621_4.tiaozhuang_0623
                  .f16_0623
                  a(href='courserel/L3.html', target='_blank')
                    p.f16_0621 L3
                td.blue_0621.width_0621_8.height_0621_4.tiaozhuang_0623
                  .f16_0623
                  a(href='courserel/L4.html', target='_blank')
                    p.f16_0621 L4
                td.yellow_0621.width_0621_8.height_0621_4.tiaozhuang_0623
                  .f16_0623
                  a(href='courserel/L5.html', target='_blank')
                    p.f16_0621 L5
                td.yellow_0621.width_0621_8.height_0621_4.tiaozhuang_0623
                  .f16_0623
                  a(href='courserel/L6.html', target='_blank')
                    p.f16_0621 L6
                td.yellow_0621.width_0621_8.height_0621_4.tiaozhuang_0623
                  .f16_0623
                  a(href='courserel/L7.html', target='_blank')
                    p.f16_0621 L7
                td.red_0621.width_0621_5.height_0621_4.tiaozhuang_0623
                  .f16_0623
                  a(href='courserel/L8.html', target='_blank')
                    p.f16_0621 L8
                td.red_0621.width_0621_5.height_0621_4.tiaozhuang_0623
                  .f16_0623
                  a(href='courserel/L9.html', target='_blank')
                    p.f16_0621 L9
                td.red_0621.width_0621_12.height_0621_4.tiaozhuang_0623
                  .f16_0623
                  a(href='courserel/L10.html', target='_blank')
                    p.f16_0621 L10
                td.red_0621.width_0621_12.height_0621_4.tiaozhuang_0623
                  .f16_0623
                  a(href='courserel/L11.html', target='_blank')
                    p.f16_0621 L11
              tr
                td.gray_0621.width_0621_10.height_0621_5
                  p 级别描述
                td.green_0621.width_0621_11.height_0621_5
                  p.p_l_0621 帮助孩子通过学习自然发音系统掌握英语单词发音规律。
                  p.p_l_0621 培养正确的英语语感，帮孩子获得看单词就能读的能力。
                td.blue_0621.width_0621_8.height_0621_5(colspan='3')
                  p.p_l_0621 采用孩子们喜爱的母语式互动教学方法。带领孩子从0开始，建立纯正英语语感。
                  p.p_l_0621 培养英语语言直觉，直观感受最地道的英文世界。
                td.yellow_0621.width_0621_8.height_0621_5(colspan='3')
                  p.p_l_0621 奠定英语基础后的进阶式学习，让孩子们可以用英文来发现更加广阔的世界。
                  p.p_l_0621 培养孩子无障碍交流，顺畅表达自己观点，以英语应用能力突破应试挑战的能力。
                td.red_0621.width_0621_5.height_0621_5(colspan='4')
                  p.p_l_0621 以英语视角探索人文，自然和科学，拓宽孩子的国际化视野，让孩子足不出户获得和国际学校一样的学习资源。
                  p.p_l_0621 培养孩子即使在纯西方英语环境中也能无障碍交流的能力，为孩子的国际化生活和学习奠定强大实力。
              tr
                td.gray_0621.width_0621_10.height_0621_6
                  p 阶段
                td.green_0621.width_0621_11.height_0621_6
                  p 零基础
                td.blue_0621.width_0621_8.height_0621_6(colspan='3')
                  p 初级
                td.yellow_0621.width_0621_8.height_0621_6(colspan='3')
                  p 中级
                td.red_0621.width_0621_5.height_0621_6(colspan='4')
                  p 高级
            script.
              $(function(){
              $(".table_0621 tr img").hide();
              $(".img1_0623").hover(function(){
              $(".img1_0621").show();
              },function(){
              $(".table_0621 tr img").hide();
              });
              $(".img2_0623").hover(function(){
              $(".img2_0621").show();
              },function(){
              $(".table_0621 tr img").hide();
              });
              $(".img3_0623").hover(function(){
              $(".img3_0621").show();
              },function(){
              $(".table_0621 tr img").hide();
              });
              $(".img4_0623").hover(function(){
              $(".img4_0621").show();
              },function(){
              $(".table_0621 tr img").hide();
              });
              });
        a.roll_mouse.roll_mouse2(href='index.php-c=scroll&a=scroll.html#page8')
    // page7 end
    // page8 start
    .section.section5
      .bg
      .new_warpper_scroll.scroll_box
        a.logo_scroll(href='index.html')
          img(src='../scroll/images/logo_white.png')
        .page5_rel
          .title3 GoGoTalk师资
          .smyclearfix.item5
            dl.left
              dt.item5_1
            dl.left
              dt.item5_2
            dl.left
              dt.item5_3
        a.roll_mouse(href='index.php-c=scroll&a=scroll.html#page9')
    // page8 end
    // page9 start
    .section.section6
      .bg
      .new_warpper_scroll.scroll_box
        a.logo_scroll(href='index.html', style='z-index: 14')
          img(src='../scroll/images/logo_blue.png')
        .page6_rel
          .title6 独家教学基地
          .item6
        a.roll_mouse.roll_mouse2(href='index.php-c=scroll&a=scroll.html#page10')
    // page9 end
    // page10 start
    .section.section7
      .bg
      .new_warpper_scroll.scroll_box
        a.logo_scroll(href='index.html')
          img(src='../scroll/images/logo_white.png')
        .page7_rel
          .title7 关于GoGoTalk
          .item7
            | 专注4-18岁青少外教一对一在线英语，陪孩子在家连接全球5000+顶级外教
            br
            |                 一份快餐的价格，一集动画的时间，让孩子足不出户，与世界自由沟通。
        a.roll_mouse(href='index.php-c=scroll&a=scroll.html#page11')
    // page10 end
    // page11 start
    .section.section8
      .bg
      .new_warpper_scroll.scroll_box
        a.logo_scroll(href='index.html')
          img(src='../scroll/images/logo_blue.png')
        .page8_rel
          .title8 GoGoTalk明星学员
          .item8
      div(style='position: absolute; bottom: 0; left: 0; width: 100%; height: 210px; background: #fff;')
        //
          form1 start
          <div class="form1_0426">
          <div class="smyclearfix new_warpper">
          <p class="left shenqing">申请免费试听课</p>
          <form class="left smyclearfix form1" id="form1" name="contact" method="post"
          action="tel.php.html">
          <input class="left" name="sourceurl" id="sourceurl" type="text" style="display: none;"/>
          <p class="left">
          <input name="name" id="smy_0401_name" type="text" onfocus="this.value=''"/>
          <label class="smy_0401_commonti_formitem label1" for="smy_0401_name">孩子姓名</label>
          <label class="smy_0401_commonti_formitem error" for="smy_0401_name" id="name_error">请输入孩子姓名</label>
          </p>
          <p class="left">
          <input name="age" id="smy_0401_year" type="text" onfocus="this.value=''"/>
          <label class="smy_0401_commonti_formitem label1" for="smy_0401_year">孩子年龄</label>
          <label class="smy_0401_commonti_formitem error" for="smy_0401_year" id="year_error">请输入孩子年龄</label>
          </p>
          <p class="left">
          <input name="mobile" id="smy_0401_phone" type="text" onfocus="this.value=''"/>
          <label class="smy_0401_commonti_formitem label1" for="smy_0401_phone">家长手机号</label>
          <label class="smy_0401_commonti_formitem error" for="smy_0401_phone" id="phone_error">请输入手机号</label>
          </p>
          <div class="left btu3_0426 btu3" id="btntijiao">立即预约</div>
          </form>
          </div>
          </div>
        // form1 end
        //
          footer start
          <div class="footer" >
          <p>青少英语 www.gogo-talk.com 京ICP备15001014号-1<span></span>All Rights Reserved Copyright 2002-2015 笨鸟盛世(北京)教育科技有限公司 版权所有
          </p>
          <p>咨询热线：<a href="tel://4008787276" style="color:#999; cursor: default;">400-8787-276</a><span></span>邮箱：gogotalk@benniaoyasi.com<span></span>总部地址：北京市朝阳区安慧北里逸园28号逸园商务楼4层403</p>
          <p><a href="http://www.gogo-talk.com/index.php?s=" style="color: #fb5624;">青少英语官网</a>&nbsp;|&nbsp;<a href="/index.php?c=course&a=course" style="color: #fb5624;">课程体系</a>&nbsp;|&nbsp;<a href="http://bnys.121learn.cn" style="color: #fb5624;" target="_blank">在线上课</a>&nbsp;|&nbsp;<a href="/index.php?c=aboutus&a=aboutus" style="color: #fb5624;">联系我们</a>&nbsp;|&nbsp;招贤纳士&nbsp;|&nbsp;网站地图&nbsp;|&nbsp;<a href="http://www.gogo-talk.com/index.php?c=agreement&a=agreement" style="color: #fb5624;">服务协议</a></p>
          </div>
        link(rel='stylesheet', type='text/css', href='styles_new/footer_new_161020.css')
        // 尾 css
        .footer_161025_new
          .new_warpper_161020.smyclearfix.footer_161025_new_top
            p.left.footer_161025_new_p1
              img(src='../images_new/footerImages_new/footerImage1.png')
              | service@gogo-talk.com
            p.left.footer_161025_new_p2
              img(src='../images_new/footerImages_new/footerImage2.png')
              | 北京市朝阳区安慧北里逸园28号逸园商务楼4层403
            p.right.footer_161025_new_p3
              img(src='../images_new/footerImages_new/footerImage3.png')
              | 咨询热线：
              a(href='tel://4008787276') 400-8787-276
          //
            <div class="footer_161025_new_bottom">
            <div class="new_warpper_161020">
            <p>青少英语 www.gogo-talk.com 京ICP备15001014号-4<span>All Rights Reserved Copyright 2002-2015 笨鸟盛世(北京)教育科技有限公司 版权所有</span></p>
            <p>
            <a href="index.php.html">青少英语官网</a> |
            <a href="/index.php?c=course&a=course">课程体系</a> |
            <a href="/index.php?c=price&a=price">课程购买</a> |
            <a href="/index.php?c=scroll&a=scroll" target="_blank">学习理念</a> |
            <a href="http://bnys.121learn.cn" target="_blank">在线上课</a> |
            <a href="/index.php?c=aboutus&a=aboutus">联系我们</a> |
            <a href="/index.php?c=agreement&a=agreement">服务协议</a>
            </p>
            </div>
            </div>
          .footer_161025_new_bottom(style='height: 145px;')
            .new_warpper_161020
              p
                a(key='57de55b8efbfb033f21edab1', logo_size='124x47', logo_type='realname', href='http://www.anquan.org')
                  script(src='http://static.anquan.org/static/outer/js/aq_auth.js')
              p(style='margin-top: 30px;')
                | 青少英语 www.gogo-talk.com 京ICP备15001014号-4
                span All Rights Reserved Copyright 2002-2015 笨鸟盛世(北京)教育科技有限公司 版权所有
              p
                a(href='index.php.html') 青少英语官网
                |  
                a(href='index.php-c=course&a=course.html') 课程体系
                |  |
                a(href='index.php-c=price&a=price.html') 课程购买
                |  |
                a(href='index.php-c=scroll&a=scroll.html', target='_blank') 学习理念
                |  |
                a(href='http://bnys.121learn.cn', target='_blank') 在线上课
                |  |
                a(href='index.php-c=aboutus&a=aboutus.html') 联系我们
                |  |
                a(href='index.php-c=agreement&a=agreement.html') 服务协议
        // footer end
    // page11 end
    //if !IE
    script(src='../scroll/js/jquery.2.1.1.min.js')
    // <![endif]
    //if IE
      script(src='../scroll/js/jquery.1.11.1.min.js')
    // page specific plugin scripts
    script(src='../scroll/js/jquery.easings.min.js')
    script(src='../scroll/js/jquery.slimscroll.min.js')
    script(src='../scroll/js/jquery.fullPage.min.js')
    // ace scripts
    // inline scripts related to this page
    script(type='text/javascript').
      $(function () {
      $.fn.fullpage({
      verticalCentered: false,
      anchors: ['page1', 'page2', 'page3', 'page4','page5','page6','page7','page8','page9','page10','page11'],
      navigation: true
      });
      });
    // yuyue start
    .yuyue1_0426
      .close1_0427
      .xuxian_0427
        .title_yuyue 预约试听课程
      .form2_0427
        form#form2.form2(name='contact2', method='post', action='tel.php.html')
          input#sourceurl2(name='sourceurl2', type='text', style='display: none;')
          p
            input#smy_0401_name2(name='name', type='text', onfocus="this.value=''")
            label.smy_0401_commonti_formitem.label1(for='smy_0401_name2') 姓名:
            label#name_error2.smy_0401_commonti_formitem.error2(for='smy_0401_name2') 此项必填
          p
            input#smy_0401_phone2(name='mobile', type='text', onfocus="this.value=''")
            label.smy_0401_commonti_formitem.label1(for='smy_0401_phone2') 电话：
            label#phone_error2.smy_0401_commonti_formitem.error2(for='smy_0401_phone2') 此项必填
          #btntijiao2.btu4_0426 马上预约
    .yuyue2_0426
      .close1_0427
      #queding.btu4_0426 确定
