body {
    background:#f4f4f4!important;
    color:black;
}
*{
    font-family: '微软雅黑';
}
.b_star_container{
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    width: 100%;
    height:auto;
    min-width: 1200px;
    margin-bottom: 77px;
}
.b_star_banner{
    width: 100%;
    height: 632px;
    background: url("../b_images/b_banner.jpg") no-repeat center;
}
/*视频区域*/
.b_star_video_bigbox{
    width: 1200px;

    margin: 0 auto;
    margin-top: -23px;
}
.b_star_nav_box{
    width: 100%;
    height:60px;
    margin-bottom: 30px;
}
.b_star_nav_box li{
    width: 297px;
    height: 100%;
    float: left;
    margin-right: 4px;

}
.nav_r_0{
    margin-right: 0!important;
}

.b_star_nav_box li a{
    position: relative;
    color: #fff;
    display: block;
    width: 100%;
    height:100%;
    box-sizing: border-box;
    padding: 2px;
    font-size: 22px;
    line-height: 60px;
    text-align: center;
    background: rgba(213,56,64,0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5d53840,endColorstr=#E5d53840);
}
.b_icon_sanjiao{
    width: 22px;
    height:10px;
    background: url("../b_images/b_sanjiao.png") no-repeat center;
    position: absolute;
    top:59px;
    left:50%;
    margin-left: -11px;
}
.b_star_nav_box li a p{
    border: 1px solid transparent;
    display: block;
    height: 54px;
    color: #f4d3d4;
}
.b_star_nav_box li a p.b_star_nav_active{
    border: 1px solid #fff;
    display: block;
    height: 54px;
    color: #fff;
}
.b_star_video_box{
    width: 1200px;
}
.b_video_panel{
    height: 0;
    overflow: hidden;
}
.b_star_video_box ul li{
    float: left;
    width: 283px;
    margin-right: 22px;
    margin-bottom: 22px;
    background-color: #fff;
}
.b_star_v_text p{
    font-size: 16px;
}
.b_star_v_img{
    width: 100%;
    height: 172px;
    position: relative;
    overflow: hidden;
}
.b_star_v_img a img{
    width: 100%;
    transition: all ease 0.5s;
}
.b_img_active{
    -webkit-transform: scale(1.08,1.08);
    transform: scale(1.08,1.08);
}
.b_img_out{
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}

.b_star_video_bg{
    cursor: pointer;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: url("../b_images/b_play_active.png") no-repeat center;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E532332d,endColorstr=#E532332d);
    background-color: rgba(50,51,45,0.5);
    opacity: 0;
}
/*.b_star_video_bg:hover{*/
    /*background: url("../b_images/b_play_active.png") no-repeat center;*/
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E532332d,endColorstr=#E532332d);*/
    /*background-color: rgba(50,51,45,0.5);*/
/*}*/
.b_star_v_text{
    padding: 0 27px 0 27px;
    height: 50px;
}
.b_star_v_text p{
    height:100%;
    line-height: 50px;
}

/* 清除浮动 */
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
    overflow:hidden;
}
.clearfix {
    zoom:1; /* for ie6 & ie7 */
}
.clear {
    clear:both;
    display:block;
    font-size:0;
    height:0;
    line-height:0;
    overflow:hidden;
}
/* 设置显示和隐藏，通常用来与 js 配合 */
.hide {
    display:none;
}
.block {
    display:block;
}
/* 设置浮动，减少浮动带来的 bug */
.fl,.fr {
    display:inline;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
/*视频*/
.video_box{ width: 100%; height: 100%; position: fixed;top:0; left: 0;z-index: 99999; display: none;}
.video_box_zhezhaohei{position: absolute; top:0; left: 0;width:100%; height:100%;background: #000; opacity: 0.7; filter:alpha(opacity=70);cursor: pointer;}
.video_rel_box{position: absolute; top:0; left: 0;right:0; bottom:0;margin:auto;width: 600px; height: 400px;background: #000;}
.video_box_close{position: absolute; top:10px; right: 10px;cursor: pointer; opacity: 0.8; filter:alpha(opacity=80); }
.video_box_close:hover{opacity: 1; filter:alpha(opacity=100);}