doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    // meta name="viewport" content="width=device-width, initial-scale=1"
    title GoGoTalk青少外教在线英语_关于我们
    meta(content='GoGoTalk,青少英语,GoGoTalk青少英语,笨鸟盛世,教育资源,在线学习', name='keywords')
    meta(content='GoGoTalk是笨鸟盛世（北京）科技有限公司旗下的在线青少外教英语品牌。作为互联网英语教育的领跑者，GoGoTalk采用“外教互动式在线学习”模式，让中国孩子足不出户汲取全球优秀教育资源，与世界共同成长。从语言艺术、全球视野、自信沟通和文化探索四个维度全面学习，引领孩子跨越地域屏障，与世界自信沟通，自由表达。', name='description')
    link(rel='stylesheet', type='text/css', href='../styles/base_0425.css')
    link(rel='stylesheet', type='text/css', href='../styles/aboutus.css')
    script(src='../js/jquery-1.7.2.min.js')
    script(src='../js/aboutus.js')
    script(src='../js/smy_0426_tijiao.js', charset='gbk')
  body
    include header
    #main
      // banner start
      .banner_0512_au
      // banner end
      // page1 start
      .new_warpper_0508.page1_0426
        .common_title_0512
          .common_title_h2_05122 关于GoGoTalk
          .common_title_xian1_0512
        p.about_us
          | GoGoTalk是笨鸟盛世（北京）教育科技有限公司旗下的在线青少外教英语品牌。作为互联网英语教育的领跑者，GoGoTalk采用“外教互动式在线学习”模式，让中国孩子足不出户汲取全球优秀教育资源，与世界共同成长。我们认为语言只是工具，沟通才是桥梁。为此，GoGoTalk独创ICL（International Communication Language）教学模式，从语言艺术，全球视野，自信沟通和文化探索四个维度全面学习，有效培养中国孩子的国际化思维。GoGoTalk希望引领孩子跨越地域屏障，与世界自信沟通，自由表达。
        p.about_us(style=' margin-top:20px;')
          | GoGoTalk不仅为每一位孩子提供独享的在线VIP直播教学，同时也为渴望高品质外教师资的学校或培训机构量体裁衣，打造一套权威的体系化在线英语课程。即使您身边的教育资源稀缺，也能改变孩子们的命运。
      // page1 end
      // page2 start
      .page2_0426
        .common_title_05122
          .common_title_h2_05122 联系GoGoTalk
          .common_title_xian1_05122
        .new_warpper_0508.smyclearfix.rel_page1_0426
          .left.youshi_04261.youshi_0426
            .youshi_quan_0426
              .white_left_0426
              .white_right_0426
              .quan1_0426
            dl
              dt 电话：400-8787-276
          .left.youshi_04262.youshi_0426
            .youshi_quan_0426
              .white_left_0426
              .white_right_0426
              .quan2_0426
            dl
              dt 地址：北京市朝阳区安慧北里逸园商务楼4层
          .left.youshi_04263.youshi_0426
            .youshi_quan_0426
              .white_left_0426
              .white_right_0426
              .quan3_0426
            dl
              dt 网站：www.gogo-talk.com
    // page2 end
    include footer
